<?xml version="1.0" encoding="utf-8" ?>
<configuration>
	<appSettings>
		<add key="symmetricPrivateKey" value="sf$5asjd90kasjdf^!fljsadklfj=_@*"/>
		
		<!-- Asymmetric Private RSA Open SSL  -->
		
		<add key="asymmetricPrivateKey" value="-----BEGIN RSA PRIVATE KEY-----
MIIEpAIBAAKCAQEAqSPM2Xu1dZn28WrAEvzWD7nmDU8hD4SVO4OFKg6zj4bWl4of
PSnv+HFFz1ZDSOR5lHzTHqNzU9W/WTA7G/TBZ/xNLzDQkmSEDP903l8CgUo4Eg2e
/n0Tz0p/tzPDFntieInx1rymHFMSWFfugrwttcXZlpsHeMJEBrf+kRSQr0MrGR3z
jWmBghFjXBQk+w6RKzTHARDpRz7/Ag9JhGRYVhNz6kWvyu4eH832auFoRFN39oIH
WUpB5gYaPMJiIi7b4kpJFb4n5JHjVqFSwmOAt/7SCFiHv8nNPpP55zF7Id2/PKoP
RMxIYghIbeS9eU43SJQYZZxppdKoKAMgaJBGiQIDAQABAoIBADLOuL3Jzff+IHJj
nT/26DyAHK15zBYTvxpKBynbka+3EuYhjQG8A8RPDmfaY0rVqvniRy7obX/M8PZT
KSZcLu7UGMFoufaHsC0RXaNgyelZiJ9PrSeIHffCSrwXFe6+cJWB5n4ZXBKdF6En
BNQLv/Ve8d4uQp/RR0r3YUZmdZHXr3oYIlEzGXKCgzson73tr5nuLzqtTNn0Aj2r
UaKcwYi20vgprMSltuEknv50HsCt6cd1V6LX7zc/JcVN524G0SmDtF1sNglMz3wX
1OFnGx0rU/y/OT8xfttgOtpZ60lCn959iAa5nOLfZaopYtvFGMkxnKA+GLwHO7lM
5GuzfxsCgYEA4kEAHJnogb4rnOI2CDi6V0kWbHadRxnWu9BwzfoM5ScLpur3qjeu
7qtSAJmnZX7fYn3p9Yyzqu/Wx/91O7iNqjWQoZKirk8bOSYaTiGxAfBTHHwKMxpo
/qiP7x074ljw39gzehZWFex05kAEXG+7tKIrnK1agnxXEOmdcoTB7OMCgYEAv2CE
0x4CDcGEtH1QxmMOrmO+W3dFSZeKNoTvEeRCDoV7WA3Qr2oBYLckUbA8ARVaddnF
JWZo4WSseE1kLuyt2c9bLTJH74JMQW6SM6PZ0ZC3oAnrl7U2syzzPqWrKuZuoTTj
1ZEPvQqVPhlruKy5uqxb1Th1l/Do9nhrNaK8ZqMCgYEA3vJULNrQTMDa8v3JZnKX
1Bj2Gq0LMBvbCDlOXvmuKUQ/bByPLdEu9IonBOZkGFRbxQ70Mv2RsbgiefNVTyL9
naKowT3gRkk3Nyo/s4vpg1KQYzorRs4YdhAdvO6eqt0fhkPh/cTy0Smuy5B7e6ay
XT2MIhiEXp4toUHC3yzIdycCgYBTEDR2YXbou466vA18HfB4Voh/sJPdLi3qHeaZ
8GWPYfY4ML7b8/mnHbZg0koo+jiqIBwGcJ2i/owxJv4Ns+J9QBfF1SYN2ZL5b2F7
kmlvIQ3iI4wi659TQ3ZMQaG6XAu2Yntk7bJUDazbKDNuE2IFmNu+/uNjUEf8+iUm
QXzeWwKBgQCrzX92mYSj81s2Zd0XI8AVW5SBx1M2IVq35XS94Nz+QBfN2t7e8f8L
mNXi/g9kfmCjmjTbEWaVzsugoFMYjXZhA0ZlfI89fGe7ph22zc5mCliTQjx1Zsoy
8kaFS9iI0OB8VemWgHBSPHTE+FoRs1hCcQQc8NqnKU4YyY8xtYCjOA==
-----END RSA PRIVATE KEY-----"/>


		<!-- Asymmetric Public RSA Open SSL  -->
		
		<add key="asymmetricPublicKey" value="-----BEGIN PUBLIC KEY-----
MIIBIjANBgkqhkiG9w0BAQEFAAOCAQ8AMIIBCgKCAQEAqSPM2Xu1dZn28WrAEvzW
D7nmDU8hD4SVO4OFKg6zj4bWl4ofPSnv+HFFz1ZDSOR5lHzTHqNzU9W/WTA7G/TB
Z/xNLzDQkmSEDP903l8CgUo4Eg2e/n0Tz0p/tzPDFntieInx1rymHFMSWFfugrwt
tcXZlpsHeMJEBrf+kRSQr0MrGR3zjWmBghFjXBQk+w6RKzTHARDpRz7/Ag9JhGRY
VhNz6kWvyu4eH832auFoRFN39oIHWUpB5gYaPMJiIi7b4kpJFb4n5JHjVqFSwmOA
t/7SCFiHv8nNPpP55zF7Id2/PKoPRMxIYghIbeS9eU43SJQYZZxppdKoKAMgaJBG
iQIDAQAB
-----END PUBLIC KEY-----"/>
		
	</appSettings>
</configuration>